 
  @import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cinzel&family=Lato:wght@300;400;700&family=McLaren&display=swap');
 
  *{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }